.navbar-fixed-top {
    top: 0;
    background-color: black;
    height: 62px;
    margin-bottom: 20px;
    position: fixed;
    bottom:235px ;
    min-height: 60px;
    border-bottom: none;
}
/*@media (min-width: 768px)*/
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}
#top-nav-collapse-bar{
    margin-top: 8px;
}
#top-nav-collapse-bar a{
    color: #f0f0f0;
    font-size: 16px;
    line-height: 20px;
    font-family:bloder;
}
.navbar-form{
    position: relative;
}
#nav-search-submit{
    position: absolute;
    right:20px;
    top:12px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    /*width: 1349px;*/
    height: 4264px;
    overflow-x: hidden;
    background-position: center top;
    line-height: 1.42857143;
    color: #333;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    z-index:10;
}
.btn-lg{
    background-color: #0C8484;
}




/*center*/
.home-bg{
    height: 400px;
}
.home-bg .home-bg1{
    padding-top:100px;
    color: #f9efff;
    font-size:40px;
    text-align:center;
}
.home-bg .home-bg2{
     padding-top:40px;
     color: #f9efff;
     font-size:30px;
     text-align:center;
 }



/*content*/
.row-content{
    margin:10px 20px;
}

.content-row{
    margin-left: 17px;

}
.row-images{
    float: left;
    margin:1px 5px;
}
.sw-card{

    background-size:308px 350px;
    width:308px;
    height:350px;

    margin-top:10px;
    position: relative;
}
.sw-card-request{
    width:308px;
    height:350px;
    color: #ffffff;
    position: relative;
}
.overlay{
    /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , transparent 0px, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 !important;*/
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sw-card-request-top{
    width:260px;
    height:280px;
    padding-top:200px;
    margin-left:20px;
    border-bottom:1px solid #DDDDDD;

}
.sw-card-request-chin{
    margin-left:20px;
    margin-top:20px;
}
.avatar{
    width:40px ;
    height:40px;
    float: left;
}
.request-type{
    padding:3px 0px 0px 40px;
    font-size:11px;
    color: #DDDDDD;
  }
.request-name{
    padding:0px 0px 0px 40px;
    margin-top:-8px;

    font-size:14px;
}

/*footer*/
footer{
    position: relative;
    top:40px;
    height: 601px;
    background-color: #f7f7f7;
    color: #262b31;
}
.container {
    padding-right: 15px;
    padding-left:0px;
    margin-right: auto;
    margin-left: auto;
}
.section-grey{
    background-color: #F7F7F7;
    padding: 100px 0;
    height: 650px;
}
footer p.title {
    line-height: 32px;
    font-weight: 700;
    width: 263px;
    height: 32px;
}
#sticky-footer {
    display: none;
    width: 100%;
    background-color: gray;
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    position: fixed;
    _position: absolute;
    overflow: hidden;
    height: 38px;
    bottom: 0;
    z-index: 99999;
    line-height: 38px;
    float: left;
    /*_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));*/
}
p.text-center {
    text-align: center;
    margin-top: 0;
    margin-left: -20px;
}
p {
    margin: 0 0 10px;
}
footer a {
    color: #262b31;
}
a {
    color: #42BFDF;
    text-decoration: none;
}
.col-md-12{
    height: 46px;
    padding: 0px 15px;
}





/*登录*/
.logining{
    width: 100%;
    height: 100%;
    z-index: 16;
    position: absolute;
    top:1px;
    left:1px;
}
.login-bg{
    width:100em;
    height:100em;
    background: #000;
    opacity:0.7;
    position: fixed;
    z-index:20;
}


.login{
    width:598px;
    height:455px;
    position: absolute;
    top:40px;
    left:380px;
    border:1px solid white;
    border-radius:2px;
    background: #fff;
    opacity: 1;
    z-index:30;
}
.login-top{
    width:598px;
    height:50px;
}
.login-close{
    background: #fff;
    color: #cccccc;
    width:40px;
    height:40px;
    font-size:20px;
    margin:10px 10px 10px 0px;
    float: right;
    border:none;
}
.login-close:hover{
    color: #677481;
}
.login-content{
    width:598px;
    height:405px;
    margin-top:5px;
}

.login-name-span{
    width:598px;
    height:30px;
    padding-left:270px;
    font-size:18px;
}
.login-control{
    width:540px;
    height:50px;
    margin:8px 27px;
    padding-left:10px;
    font-size:14px;
    border:none;
    border:2px solid #E9E9E9;
    border-radius:3px;
}

.login-control:hover{
    border-color: #ccc;
}
.login-control:focus{
    border-color: #53A4A4;
}
.login-submit{
    width:540px;
    height:50px;
    margin:5px 27px;
    padding-left:10px;
    font-size:18px;
    border:none;
    border:2px solid #0C8484;
    border-radius:3px;
    background: #0C8484;
    color: #ffffe7;
}
.login-submit:hover{
    opacity:0.6;
}
.logint-checkbox{
    width:540px;
    height:25px;
    margin:5px 27px;
    margin-left:40px;
    color: #42BFDF;
}
.login-a{
    float: right;
    padding-left:300px;
    margin:5px 27px 0px;
    color: #66D4F3;
}
.login-a:hover{
    color: #66D4F3;
}
.login-buttom{
    width:540px;
    height:80px;
    margin:70px 27px 0px;
    border-top:1px solid #eee;
}
.login-buttom-a{
    float: left;
    display: inline-block;
    width: 217px;
    height: 20px;
    color: #0C8484;
    margin-left:100px;
    margin-top:26px;
}
.login-buttom-a:hover{
    color: #0C8484;
}
.login-weibo-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.login-weibo-t{
    display: inline-block;
    width:30px;
    height:30px;
    border:15px solid #0C8484;
    border-radius: 100%;
    z-index:1;
}
.login-weibo-bg{
    z-index:99;
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../images/icon-sn.png") no-repeat -40px 0px;
    background-size:auto 20px;
    position: absolute;
    top:5px;
    left:5px;
}

.login-qq-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.login-qq-bg{
    z-index:99;
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../images/icon-sn.png") no-repeat -60px 0px;
    background-size:auto 20px;
    position: absolute;
    top:5px;
    left:5px;
}
.login-weixin-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.login-weixin-bg{
    z-index:99;
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../images/icon-sn.png") no-repeat -180px 0px;
    background-size:auto 20px;
    position: absolute;
    top:5px;
    left:5px;
}


/*注册*/
.regist{
    width: 100%;
    height: 100%;
    z-index: 16;
    position: absolute;
    top:1px;
    left:1px;
}
.regist_bg{
    width:100em;
    height:100em;
    background: #000;
    opacity:0.7;
    position: fixed;
    z-index:20;
}
.registered{
    width:598px;
    height:752px;
    position: absolute;
    top:40px;
    left:380px;
    border:1px solid white;
    border-radius:2px;
    background: #fff;
    opacity: 1;
    z-index:30;
}
.regist-top{
    width:598px;
    height:50px;
}
.regist_close{
    background: #fff;
    color: #cccccc;
    width:40px;
    height:40px;
    font-size:20px;
    margin:10px 10px 10px 0px;
    float: right;
    border:none;
}
.regist_close:hover{
    color: #677481;
}
.regist-content{
    width:598px;
    height:365px;
    margin-top:25px;
}

.regist-name-span{
    width:598px;
    height:30px;
    padding-left:260px;
    font-size:18px;
}
.regist-control{
    width:540px;
    height:50px;
    margin:5px 27px;
    padding-left:10px;
    font-size:14px;
    border:none;
    border:2px solid #E9E9E9;
    border-radius:3px;
}
.regist-control:hover{
    border-color: #ccc;
}
.regist-control:focus{
    border-color: #53A4A4;
}
.regist-submit{
    width:540px;
    height:50px;
    margin:5px 27px;
    padding-left:10px;
    font-size:18px;
    border:none;
    border:2px solid #0C8484;
    border-radius:3px;
    background: #0C8484;
    color: #ffffe7;
}
.regist-submit:hover{
    opacity:0.6;
}
.regist-radio{
    width:540px;
    height:25px;
    margin:5px 27px;
}
.regist-checkbox{
    width:540px;
    height:25px;
    margin:5px 27px;
    margin-left:7px;
    color: #42BFDF;
}
.regist-a{
    float: right;
    padding-left:300px;
    margin:5px 27px 0px;
    color: #66D4F3;
}
.regist-a:hover{
    color: #66D4F3;
}
.regist-buttom{
    width:540px;
    height:80px;
    margin:70px 27px 0px;
    border-top:1px solid #eee;
}

.regist-buttom-a{
    float: left;
    display: inline-block;
    width: 217px;
    height: 20px;
    color: #0C8484;
    margin-left:100px;
    margin-top:26px;
}
.regist-buttom-a:hover{
    color: #0C8484;
}
.regist-weibo-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.regist-weibo-t{
    display: inline-block;
    width:30px;
    height:30px;
    border:15px solid #0C8484;
    border-radius: 100%;
    z-index:40;
}
.regist-weibo-bg{
    z-index:99;
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../images/icon-sn.png") no-repeat -40px 0px;
    background-size:auto 20px;
    position: absolute;
    top:5px;
    left:5px;
}

.regist-qq-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.regist-qq-bg{
    z-index:99;
    display: inline-block;
    width:20px;
    height:20px;
    background: url("../images/icon-sn.png") no-repeat -60px 0px;
    background-size:auto 20px;
    position: absolute;
    top:5px;
    left:5px;
}
.regist-weixin-a{
    display: inline-block;
    width:30px;
    height:30px;
    margin-left:10px;
    position: relative;
    top:20px;
}
.regist-weixin-bg {
    z-index: 99;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icon-sn.png") no-repeat -180px 0px;
    background-size: auto 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}