@charset "utf-8";
/* CSS Document */
.g_addCartDialog,.g_addCartDialog_mine{
    display:none;
    padding:10px 0;
    position:relative;
    width:40%;
    background:#dff0d8;
    color:#3c763d;
    margin: 0;
    position: fixed;
    right: 10%;
    top: 20%;
    border-radius:7px;
    z-index:10001;}
.g_addCartDialog_close{
    background:#dff0d8 none repeat scroll 0 0;
    border:0;
    cursor:pointer;
    color:inherit;
    font-size:18px;
    position:relative;
    left:95%;}
body{
    margin:0px auto;
    padding:0px;
    font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;}
*{
    margin:0px auto;
    padding:0px;}
ul{
    text-decoration:none;
    list-style:none}
#Registerhead{
    height:60px;
    width:80%;}

.Registerhead_2 ul{
    float:right;
    margin-left:20px;
}
.Registerhead_2 .Registerhead_2_2{
    text-align:center;
    margin-top:15px;
    line-height:30px;
    width:60px;
    font-size:15px;
    color:#CCC;
    border:2px solid #093;
    border-radius:20px;
    background:#093
}
.Registerhead_2 .Registerhead_2_2:hover{
    background:none;
    color:#FFF}
.Registerhead_2 .Registerhead_2_2_1{
    text-align:center;
    margin-top:15px;
    line-height:30px;
    width:60px;
    font-size:15px;
    color:#CCC;
    border:2px solid #f0ad4e;
    border-radius:20px;
    background:#f0ad4e;
}
.Registerhead_2 .Registerhead_2_2_1:hover{
    background:none;
    color:#FFF}
.Registerhead_2 a{
    text-decoration:none;
    color:#E8E8E8;
    display:block}
.Registerhead_2 a:hover{
    color:#FFF}
.Registerhead_2 .Registerhead_2_3{
    width:30px;
    height:30px;
    border:2px solid #093;
    margin-top:15px;
    border-radius:50%;
    color:#090;
    font-size:20px;
    font-weight:bolder;
    text-align:center;}
#Registerbody{
    width:420px;
    border:1px solid #FFF;
    margin-top:50px}
.Registerbody_1{
    width:420px;
    height:auto;
    background:#000;
    opacity:0.4}
.Registerbody_2{
    position:absolute;
    top:150px;}

.input1{
    width:380px;
    height:34px;
    color:#555;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    padding-right:10px;
    border:none;
    border-radius:7px 7px 0px 0px;}
.input_1_2{
    width:250px;
    height:34px;
    color:#555;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    padding-right:10px;
    border:none;
    border-top:1px solid #CCC;}
.input_1_3{
    width:130px;
    height:35px;
    color:#FFF;
    position:relative;
    top:-1px;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    background:#47a812;
    padding-right:10px;
    border:none;}
.input_1_3_1{
    width:130px;
    height:35px;
    color:#FFF;
    position:relative;
    top:-1px;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    background:#ccc;
    padding-right:10px;
    border:none;}
.input_1_3:hover{
    background:#5ad617;
    cursor:pointer
}
.input_1_3:active{
    background:#47a812;
}

.input3{
    width:380px;
    height:34px;
    color:#555;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    padding-right:10px;
    border:none;
    border-radius:5px}
.input3_1{
    width:250px;
    height:34px;
    color:#555;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    padding-right:10px;
    border:none;
    border-radius:5px 0px 0px 5px}
.input2{
    width:380px;
    height:34px;
    color:#555;
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
    padding-right:10px;
    border:none;
    border-top:1px solid #CCC;
    border-radius:0px 0px 7px 7px;
    position:relative;
    top:-1px;}
.Registerbody_2 .choice li{
    float:left;
    width:130px;
    height:37px;
    line-height:37px;
    background:#eee;
    color:#555;
    font-size:14px}
.Registerbody_2 .choice li:hover{
    background:#FFF;
    color:#47a812}
.choice{
    position:relative;
    left:15px;
    border-color:#C5C5C5;}
.choice_1{
    border-radius:7px 0px 0px 7px;
}
.choice_2{
    border-left:1px solid;
    border-right:1px solid;}
.choice_3{
    border-radius:0px 7px 7px 0px}
.Registerbody_2_1{
    padding-top:20px;
    padding-bottom:20px;
    font-size:14px;}
.Registerbody_2_1_2{
    padding-top:10px;
    padding-bottom:15px;
    font-size:14px;}
.Registerbody_2_1_3{
    padding-top:5px;
    padding-bottom:20px;
    font-size:14px;}
.Registerbody_2_1_3 img{
    border-radius:0px 5px 5px 0px;
    margin-left:-5px;
    position:relative;
    top:11px;
    border:1px solid #ccc;}
.Registerbody_2_1_3 img:hover{
    cursor:pointer}
.Registerbody_2_2{
    margin-top:10px;
    color:#47a812;
    font-size:14px}
.Registerbody_2_2 a{
    color:#47a812;
    text-decoration:none}
.Registerbody_2_2 a:hover{
    color:#5ad617}
.Registerbody_2_2_1{
    margin-top:-5px;
    padding-bottom:15px;
    color:#FFF;
    padding-left:-0px;
    font-size:14px}
.Registerbody_2_2_1 a{
    color:#FFF;
    text-decoration:none}
.Registerbody_2_2_1 a:hover{
    color:#FFF}
.Registerbody_2_3 .Registerbody_2_3_1{
    width:45%;
    float:left;}
.Registerbody_2_3 .Registerbody_2_3_1{
    line-height:35px;
    position:relative;
    left:15px;
    height:35px;
    font-size:14px;
    background:#47a812;
    border-radius:30px;
    color:#FFF}
.Registerbody_2_3 .Registerbody_2_3_1:hover{
    background:#5ad617;
    cursor:pointer}
.Registerbody_2_3 .Registerbody_2_3_2{
    padding-right:15px;
    text-align:right;
    color:#47a812;
    font-size:14px}
.Registerbody_2_3 .Registerbody_2_3_2 a{
    color:#47a812;
    text-decoration:none}
.Registerbody_2_3 .Registerbody_2_3_2 a:hover{
    color:#5ad617;}
#Registerbody ul{
    width:420px;
    text-align:center;}
#Registerbottom{
    width:100%;
    float:left;
    position:fixed;
    bottom:0px;}
#Registerbottom ul{
    width:80%;
    color:#CCC;
    font-size:14px;
    padding-bottom:20px;
    padding-top:15px;
}
#Registerbottom ul li{
}
#Registerbottom .Registerbottom_1{
    width:100%;
    background:rgba(0,0,0,0.5);}
#Registerbottom .Registerbottom_1{
    list-style:none;}
#Registerbottom .Registerbottom_2{}
#Registerbottom .Registerbottom_3{
    float:right;}

.lpass{
    color:#FFF;
    font-size:14px;}
.Registerbody_2 span{
    color:#a94442;
    position:relative;
    top:3px;
    left:2px}

